<form [formGroup]="form" (submit)="handleConvert()">
    <mat-card>
        <mat-card-content>
            <mat-form-field class="flex-1">
                <mat-label>Decimal value</mat-label>
                <input matInput formControlName="decValue" />
                <mat-error>
                    <app-mat-errors [control]="form.get('decValue')"></app-mat-errors>
                </mat-error>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions class="action-buttons">
            <button mat-raised-button color="primary" type="button" class="btn-primary" (click)="handleConvert()">
                Convert
            </button>
        </mat-card-actions>
    </mat-card>
</form>

<mat-card *ngIf="result">
    <mat-card-content>
        <app-code>{{ result }}</app-code>
    </mat-card-content>
</mat-card>
