<form [formGroup]="form" (submit)="handleSubmit()" class="mb-8">
    <mat-card>
        <mat-card-content>
            <mat-form-field class="flex-1">
                <mat-label>Plain text</mat-label>
                <input matInput formControlName="sourceText" />
                <mat-error>
                    <app-mat-errors [control]="form.get('sourceText')"></app-mat-errors>
                </mat-error>
            </mat-form-field>

            <div class="flex flex-col">
                <mat-checkbox formControlName="trimResult">Trim text</mat-checkbox>
                <mat-checkbox formControlName="splitIntoWords">Split into words</mat-checkbox>
            </div>
        </mat-card-content>

        <mat-card-actions class="action-buttons">
            <button mat-raised-button color="accent" type="button" (click)="handleReset()">Reset</button>
            <button mat-raised-button color="primary" type="submit">Mix</button>
        </mat-card-actions>
    </mat-card>
</form>

<mat-card *ngIf="result">
    <mat-card-content>
        <app-code>{{ result.randomizedValue }}</app-code>
    </mat-card-content>
</mat-card>
