<app-page-header title="JSON Formatter"></app-page-header>

<form [formGroup]="form" (submit)="handleSubmit()">
	<app-form-section>
		<app-form-textarea label="JSON text" formControlName="source"></app-form-textarea>
	</app-form-section>

	<app-form-section *ngIf="result && !result.hasErrors">
		<app-form-label>Formatted JSON</app-form-label>
		<app-highlighted-code
			[autoselect]="false"
			[language]="'json'"
			[code]="result.formattedValue"
		></app-highlighted-code>
	</app-form-section>

	<app-alert *ngIf="result && result.hasErrors" type="error">Failed to format json</app-alert>

	<app-form-footer>
		<button type="button" class="btn-secondary" (click)="handleReset()">Reset</button>
		<button type="submit" class="btn-primary">Format</button>
	</app-form-footer>
</form>
