<app-page-header title="{{ pageTitle }}"></app-page-header>

<form [formGroup]="form" (submit)="handleSubmit()">
	<app-form-section title="Source">
		<app-form-textarea label="JSON text" formControlName="source"></app-form-textarea>
	</app-form-section>

	<app-form-section title="Formatted JSON" *ngIf="result && !result.hasErrors">
		<app-highlighted-code
			[autoselect]="false"
			[language]="'json'"
			[code]="result.formattedValue"
		></app-highlighted-code>
	</app-form-section>

	<app-alert *ngIf="result && result.hasErrors" type="error">Failed to format json</app-alert>

	<app-form-footer>
		<app-form-button type="button" color="secondary" (click)="handleReset()">Reset</app-form-button>
		<app-form-button type="submit" color="primary">Format</app-form-button>
	</app-form-footer>
</form>
