<app-page-header title="JSON Formatter"></app-page-header>

<form [formGroup]="form" (submit)="handleSubmit()">
	<app-form-section>
		<app-form-textarea label="JSON text" formControlName="source"></app-form-textarea>
	</app-form-section>

	<app-form-section>
		<div class="flex">
			<div class="flex-1">
				<div class="space-y-1">
					<div>
						<app-form-checkbox formControlName="minify">Minify</app-form-checkbox>
					</div>
					<div>
						<app-form-checkbox formControlName="stringify">Convert to string</app-form-checkbox>
					</div>
				</div>
			</div>
			<div class="flex-1 flex justify-end gap-1">
				<button type="button" class="btn-secondary" (click)="handleReset()">Reset</button>
				<button type="submit" class="btn-primary">Format</button>
			</div>
		</div>
	</app-form-section>

	<app-alert *ngIf="result && result.hasErrors" type="error">Failed to format json</app-alert>

	<app-form-section *ngIf="result && !result.hasErrors">
		<app-form-label>Formatted JSON</app-form-label>
		<app-highlighted-code
			[autoselect]="false"
			[language]="'json'"
			[code]="result.formattedValue"
		></app-highlighted-code>
	</app-form-section>
</form>
