<form [formGroup]="form" (submit)="handleSubmit()">
    <mat-card class="mb-8">
        <mat-card-header>
            <mat-card-title>JSON Parser</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <mat-form-field class="w-full">
                <mat-label>JSON string</mat-label>
                <textarea matInput formControlName="source" rows="5"></textarea>
            </mat-form-field>
            
            <div *ngIf="result.errorMessage !== undefined">
                <app-alert type="error"> {{ result.errorMessage }}</app-alert>
            </div>
        </mat-card-content>

        <mat-card-actions class="action-buttons">
            <div class="mr-3">
                <button mat-raised-button color="accent" type="button" (click)="handlePassToJsonFormatter()"
                        [disabled]="result.formattedValue === undefined">Format
                </button>
            </div>
            <button mat-raised-button color="accent" type="button" (click)="handleReset()">Reset
            </button>
            <button mat-raised-button color="primary" type="submit">Parse</button>
        </mat-card-actions>
    </mat-card>
</form>

<mat-card *ngIf="result.formattedValue !== undefined">
    <mat-card-header>
        <mat-card-title>Parsed JSON</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <app-highlighted-code
            [autoselect]="false"
            [language]="'json'"
            [code]="result.formattedValue"
        ></app-highlighted-code>
    </mat-card-content>
</mat-card>
