<mat-dialog-content>
    <h2 class="mb-5" mat-card-title>Available placeholders</h2>

    <div class="flex items-start gap-3">
        <div class="grid grid-cols-2 gap-1 items-center">
            <span class="text-right">Index</span>
            <app-code>$i</app-code>
            <span class="text-right">Number</span>
            <app-code>$n</app-code>
            <span class="text-right">Hex</span>
            <app-code>$hex</app-code>
        </div>
        <div class="grid grid-cols-2 gap-1 items-center">
            <span class="text-right">Red</span>
            <app-code>$r</app-code>
            <span class="text-right">Green</span>
            <app-code>$g</app-code>
            <span class="text-right">Blue</span>
            <app-code>$b</app-code>
        </div>
        <div class="grid grid-cols-2 gap-1 items-center">
            <span class="text-right">Hue</span>
            <app-code>$h</app-code>
            <span class="text-right">Saturation</span>
            <app-code>$s</app-code>
            <span class="text-right">Lightness</span>
            <app-code>$l</app-code>
        </div>
    </div>
</mat-dialog-content>
