<app-page-header title="Docker Run Generator"></app-page-header>

<form [formGroup]="groupScript" class="mb-8" (submit)="handleGenerateScript()">
    <!-- image -->
    <app-form-section title="Image">
        <div class="flex gap-1">
            <div class="flex-1">
                <label for="imageName">Name</label>
                <input
                    type="text"
                    id="imageName"
                    class="form-input w-full"
                    placeholder="Image name"
                    formControlName="imageName"
                />
                <app-form-field-errors [group]="groupScript" controlName="imageName"></app-form-field-errors>
            </div>
            <div class="flex-1">
                <label for="imageTag">Tag</label>
                <input
                    type="text"
                    id="imageTag"
                    class="form-input w-full"
                    placeholder="Image label"
                    formControlName="imageTag"
                />
                <app-form-field-errors [group]="groupScript" controlName="imageTag"></app-form-field-errors>
            </div>
        </div>
    </app-form-section>

    <!-- container -->
    <app-form-section title="Container">
        <div class="mb-1">
            <label for="containerName">Name</label>
            <input
                type="text"
                id="containerName"
                class="form-input w-full"
                placeholder="Container name"
                formControlName="containerName"
            />
            <app-form-field-errors [group]="groupScript" controlName="containerName"></app-form-field-errors>
        </div>
        <div class="flex items-center gap-1">
            <input type="checkbox" id="runDettached" formControlName="runDettached" />
            <label for="runDettached" class="cursor-pointer">Dettached</label>
        </div>
    </app-form-section>

    <app-form-section title="Settings">
        <app-tab-control>
            <app-tab label="Network">
                <!-- network -->
                <div class="mb-3">
                    <label for="hostname">Hostname</label>
                    <input
                        type="text"
                        id="hostname"
                        class="form-input w-full"
                        placeholder="Hostname"
                        formControlName="hostname"
                    />
                </div>

                <form [formGroup]="groupPortMapping" (submit)="handleAddPortMapping()">
                    <label for="">Port mappings</label>
                    <div class="flex items-stretch gap-1">
                        <div class="flex-1">
                            <input
                                type="text"
                                class="form-input w-full"
                                formControlName="containerPort"
                                placeholder="Container port"
                            />
                            <app-form-field-errors
                                [group]="groupPortMapping"
                                controlName="containerPort"
                            ></app-form-field-errors>
                        </div>
                        <div class="flex-1">
                            <input
                                type="text"
                                class="form-input w-full"
                                formControlName="hostPort"
                                placeholder="Host port"
                            />
                            <app-form-field-errors
                                [group]="groupPortMapping"
                                controlName="hostPort"
                            ></app-form-field-errors>
                        </div>
                        <div class="flex-none">
                            <button type="submit" class="btn btn-primary">
                                <svg-plus-icon size="sm"></svg-plus-icon>
                            </button>
                        </div>
                    </div>
                </form>

                <div formArrayName="portMappings" class="mt-1 space-y-1" *ngIf="portMappings.length">
                    <div class="flex items-center gap-1" *ngFor="let c of portMappings.controls; index as i">
                        <ng-container [formGroupName]="i">
                            <input
                                type="text"
                                class="form-input flex-1"
                                formControlName="containerPort"
                                placeholder="Container port"
                            />
                            <input
                                type="text"
                                class="form-input flex-1"
                                formControlName="hostPort"
                                placeholder="Host port"
                            />
                            <button type="button" class="btn btn-danger" (click)="handleRemPortMapping(i)">
                                <svg-delete-icon size="sm"></svg-delete-icon>
                            </button>
                        </ng-container>
                    </div>
                </div>
            </app-tab>
            <app-tab label="Environment">
                <!-- environment -->
                <form [formGroup]="groupEnv" (submit)="handleAddEnvironment()">
                    <label for="">Environment variables</label>
                    <div class="flex items-stretch gap-1">
                        <div class="flex-1">
                            <input type="text" class="form-input w-full" formControlName="key" placeholder="Key" />
                            <app-form-field-errors [group]="groupEnv" controlName="key"></app-form-field-errors>
                        </div>
                        <div class="flex-1">
                            <input type="text" class="form-input w-full" formControlName="value" placeholder="Value" />
                            <app-form-field-errors [group]="groupEnv" controlName="value"></app-form-field-errors>
                        </div>
                        <div class="flex-none">
                            <button type="submit" class="btn btn-primary">
                                <svg-plus-icon size="sm"></svg-plus-icon>
                            </button>
                        </div>
                    </div>
                </form>

                <div formArrayName="environmentVariables" class="mt-1 space-y-1" *ngIf="environmentVariables.length">
                    <div class="flex items-center gap-1" *ngFor="let c of environmentVariables.controls; index as i">
                        <ng-container [formGroupName]="i">
                            <input type="text" class="form-input flex-1" formControlName="key" placeholder="Key" />
                            <input type="text" class="form-input flex-1" formControlName="value" placeholder="Value" />
                            <button type="button" class="btn btn-danger" (click)="handleRemPortMapping(i)">
                                <svg-delete-icon size="sm"></svg-delete-icon>
                            </button>
                        </ng-container>
                    </div>
                </div>
            </app-tab>
        </app-tab-control>
    </app-form-section>

    <!-- script -->
    <app-form-section title="Script">
        <div [ngClass]="{ 'mb-3': generatedScript }">
            <div class="mb-1 flex items-center gap-1">
                <input type="checkbox" id="useShortParams" formControlName="useShortParams" />
                <label for="useShortParams" class="cursor-pointer">Short parameter names</label>
            </div>
            <div class="mb-1 flex items-center gap-1">
                <input type="checkbox" id="multilineScript" formControlName="multilineScript" />
                <label for="multilineScript" class="cursor-pointer">Multiline script</label>
            </div>
        </div>

        <div *ngIf="generatedScript">
            <pre class="rounded bg-white border-2 border-gray-200 text-gray-700 px-3 py-2 overflow-x-auto select-all">{{
                generatedScript
            }}</pre>
        </div>
    </app-form-section>

    <app-form-section title="Share" *ngIf="shareLink">
        <div class="bg-blue-100 text-blue-800 rounded p-3 w-full overflow-x-auto select-all">{{ shareLink }}</div>
    </app-form-section>

    <app-form-footer>
        <button type="button" class="btn btn-secondary" (click)="handleReset()">Reset</button>
        <button
            type="button"
            class="btn btn-primary"
            [attr.disabled]="generatedScript ? null : 'disabled'"
            (click)="handleShare()"
        >
            Share
        </button>
        <button type="submit" class="btn btn-primary">Generate</button>
    </app-form-footer>
</form>
