<app-page-header title="Docker run"></app-page-header>

<form [formGroup]="form" (submit)="handleSubmit()">
	<!-- image -->
	<app-form-section title="Image">
		<div class="flex gap-2">
			<div class="flex-1">
				<app-form-textfield label="Image name" formControlName="imageName"></app-form-textfield>
			</div>
			<div class="flex-1">
				<app-form-textfield label="Image tag" formControlName="imageTag"></app-form-textfield>
			</div>
		</div>
	</app-form-section>

	<!-- container -->
	<app-form-section title="Container">
		<div class="mb-3 space-y-1">
			<div>
				<app-form-textfield formControlName="containerName" label="Name"></app-form-textfield>
			</div>
			<div>
				<app-form-checkbox formControlName="runDettached">Dettached</app-form-checkbox>
			</div>
		</div>
		<div>
			<app-form-label for="restartMode">Restart mode</app-form-label>
			<select name="restartMode" class="form-input w-full" id="restartMode" formControlName="restartMode">
				<option>no</option>
				<option>always</option>
				<option>unless-stopped</option>
			</select>
		</div>
	</app-form-section>

	<app-form-section title="Settings">
		<app-tab-control>
			<app-tab label="Network">
				<!-- network -->
				<div class="mb-3">
					<app-form-label for="networkMode">Mode</app-form-label>
					<select name="networkMode" class="form-input w-full" id="networkMode" formControlName="networkMode">
						<option>none</option>
						<option>bridge</option>
						<option>host</option>
						<option>custom</option>
					</select>
				</div>

				<div class="mb-3" *ngIf="form.get('networkMode')?.value === 'custom'">
					<app-form-textfield
						formControlName="networkName"
						placeholder="Custom network name"
					></app-form-textfield>
					<app-form-field-errors [control]="form"></app-form-field-errors>
				</div>

				<div class="mb-3">
					<app-form-textfield formControlName="hostname" label="Hostname"></app-form-textfield>
				</div>

				<form class="mb-2" [formGroup]="formAddPortMapping" (submit)="handleAddPortMapping()">
					<app-form-label>Port mappings</app-form-label>
					<div class="flex items-stretch gap-2">
						<div class="flex-1">
							<app-form-textfield
								#inputContainerPort
								formControlName="containerPort"
								placeholder="Container port"
							></app-form-textfield>
						</div>
						<div class="flex-1">
							<app-form-textfield formControlName="hostPort" placeholder="Host port"></app-form-textfield>
						</div>
						<button type="submit" class="btn-primary">
							<app-svg-icon type="plus"></app-svg-icon>
						</button>
					</div>
				</form>

				<div formArrayName="portMappings" class="mt-1 space-y-2" *ngIf="portMappings.length">
					<div class="flex items-center gap-2" *ngFor="let c of portMappings.controls; index as i">
						<ng-container [formGroupName]="i">
							<div class="flex-1">
								<app-form-textfield
									formControlName="containerPort"
									placeholder="Container port"
								></app-form-textfield>
							</div>
							<div class="flex-1">
								<app-form-textfield
									formControlName="hostPort"
									placeholder="Host port"
								></app-form-textfield>
							</div>
							<button class="btn-danger" (click)="handleRemPortMapping(i)">
								<app-svg-icon type="delete"></app-svg-icon>
							</button>
						</ng-container>
					</div>
				</div>
			</app-tab>
			<app-tab label="Environment">
				<!-- environment -->
				<form class="mb-2" [formGroup]="formAddEnvVariable" (submit)="handleAddEnvironment()">
					<app-form-label>Environment variables</app-form-label>
					<div class="flex items-stretch gap-2">
						<div class="flex-1">
							<app-form-textfield
								#inputEnvironmentKey
								formControlName="key"
								placeholder="Key"
							></app-form-textfield>
						</div>
						<div class="flex-1">
							<app-form-textfield formControlName="value" placeholder="Value"></app-form-textfield>
						</div>
						<button type="submit" class="btn-primary">
							<app-svg-icon type="plus"></app-svg-icon>
						</button>
					</div>
				</form>

				<div formArrayName="environmentVariables" class="mt-1 space-y-2" *ngIf="environmentVariables.length">
					<div class="flex items-center gap-2" *ngFor="let c of environmentVariables.controls; index as i">
						<ng-container [formGroupName]="i">
							<div class="flex-1">
								<app-form-textfield formControlName="key" placeholder="Key"></app-form-textfield>
							</div>
							<div class="flex-1">
								<app-form-textfield formControlName="value" placeholder="Value"></app-form-textfield>
							</div>
							<button type="button" class="btn-danger" (click)="handleRemoveEnvVariable(i)">
								<app-svg-icon type="delete"></app-svg-icon>
							</button>
						</ng-container>
					</div>
				</div>
			</app-tab>

			<app-tab label="Volumes">
				<!-- volume mappings -->
				<form class="mb-2" [formGroup]="formAddVolumeMapping" (submit)="handleAddVolumeMapping()">
					<app-form-label>Volume mappings</app-form-label>
					<div class="flex items-stretch gap-2">
						<div class="flex-1">
							<app-form-textfield
								#inputVolumeHostPath
								formControlName="hostPath"
								placeholder="Host path"
							></app-form-textfield>
						</div>
						<div class="flex-1">
							<app-form-textfield
								formControlName="containerPath"
								placeholder="Container path"
							></app-form-textfield>
						</div>
						<button class="btn-primary">
							<app-svg-icon type="plus"></app-svg-icon>
						</button>
					</div>
				</form>

				<div formArrayName="volumeMappings" class="mt-1 space-y-2" *ngIf="volumeMappings.length">
					<div class="flex items-center gap-2" *ngFor="let c of volumeMappings.controls; index as i">
						<ng-container [formGroupName]="i">
							<div class="flex-1">
								<app-form-textfield
									formControlName="hostPath"
									placeholder="Host path"
								></app-form-textfield>
							</div>
							<div class="flex-1">
								<app-form-textfield
									formControlName="containerPath"
									placeholder="Container path"
								></app-form-textfield>
							</div>
							<button class="btn-danger" (click)="handleRemoveVolumeMapping(i)">
								<app-svg-icon type="delete"></app-svg-icon>
							</button>
						</ng-container>
					</div>
				</div>
			</app-tab>
		</app-tab-control>
	</app-form-section>

	<app-form-footer>
		<button type="button" class="btn-secondary" [disabled]="!generatedScript" (click)="handleShare()">Share</button>
		<button type="button" class="btn-secondary" (click)="handleReset()">Reset</button>
		<button type="submit" class="btn-primary">Generate</button>
	</app-form-footer>

	<!-- script -->
	<app-form-section title="Script" *ngIf="generatedScript">
		<div [ngClass]="{ 'mb-3': generatedScript }">
			<div class="space-y-1">
				<app-form-checkbox formControlName="useShortParams">Short parameter names</app-form-checkbox>
				<app-form-checkbox formControlName="multilineScript">Multiline script</app-form-checkbox>
			</div>
		</div>

		<app-highlighted-code [language]="'bash'" [code]="generatedScript"></app-highlighted-code>
	</app-form-section>

	<app-form-section title="Share" *ngIf="shareLink">
		<app-code>{{ shareLink }}</app-code>
	</app-form-section>
</form>
