<form [formGroup]="form" (submit)="handleSubmit()">
    <mat-card>
        <mat-card-content>
            <mat-form-field class="w-full">
                <mat-label>JSON text</mat-label>
                <textarea matInput formControlName="source" rows="5"></textarea>
                <mat-error>
                    <app-mat-errors [control]="form.get('source')"></app-mat-errors>
                </mat-error>
            </mat-form-field>

            <div class="flex gap-7">
                <mat-radio-group formControlName="viewMode" class="flex gap-6">
                    <mat-radio-button (change)="handleViewModeChange($event)" [value]="'json'">JSON</mat-radio-button>
                    <div>
                        <mat-checkbox formControlName="minify" (change)="handleMinifyChanges()">Minify</mat-checkbox>
                        <mat-checkbox formControlName="stringify" (change)="handleStringifyChanges()"
                            >Convert to string
                        </mat-checkbox>
                    </div>
                    <mat-radio-button (change)="handleViewModeChange($event)" [value]="'tree'">Tree </mat-radio-button>
                    <mat-radio-button (change)="handleViewModeChange($event)" [value]="'list'">List</mat-radio-button>
                </mat-radio-group>
            </div>
        </mat-card-content>

        <mat-card-actions class="action-buttons">
            <button type="button" mat-raised-button color="accent" (click)="handleReset()">Reset</button>
            <button type="submit" mat-raised-button color="primary">Format</button>
        </mat-card-actions>
    </mat-card>
</form>

<ng-container *ngIf="result">
    <!-- error -->
    <mat-card *ngIf="result.error">
        <app-alert>{{ result.error }}</app-alert>
    </mat-card>

    <!-- json -->
    <mat-card *ngIf="!result.error && result.viewMode == 'json'">
        <mat-card-content>
            <app-highlighted-code
                [autoSelect]="false"
                [language]="'json'"
                [code]="result.formattedValue"
            ></app-highlighted-code>
        </mat-card-content>
    </mat-card>

    <!-- tree -->
    <mat-card *ngIf="!result.error && result.viewMode == 'tree' && treeDataSource.data && treeDataSource.data.length">
        <mat-card-content>
            <mat-tree class="json-tree" [dataSource]="treeDataSource" [treeControl]="treeControl">
                <mat-tree-node class="json-tree-node" *matTreeNodeDef="let node" matTreeNodeToggle>
                    <div class="json-tree-node-header">
                        <button mat-icon-button disabled></button>
                        <span class="node-name">
                            <span *ngIf="node.isArrayValue">[</span>
                            <span>{{ node.name || '""' }}</span>
                            <span *ngIf="node.isArrayValue">]</span>
                        </span>
                        <span class="node-type"
                            >{{ node.type }}
                            <span *ngIf="node.type === 'array'">[{{ node.nodes?.length || 0 }}]</span>
                        </span>
                        <span *ngIf="node.value === null || node.value !== undefined">=</span>
                        <span class="node-value" *ngIf="node.type !== 'string'">{{ node.value }}</span>
                        <span class="node-value" *ngIf="node.type === 'string'">"{{ node.value }}"</span>
                    </div>
                </mat-tree-node>
                <mat-nested-tree-node
                    class="json-tree-node json-nested-tree-node"
                    *matTreeNodeDef="let node; when: hasChildren"
                >
                    <div class="json-tree-node-header">
                        <button mat-icon-button matTreeNodeToggle>
                            <mat-icon class="mat-icon-rtl-mirror">
                                {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
                            </mat-icon>
                        </button>
                        <span class="node-name">
                            <span *ngIf="node.isArrayValue">[</span>
                            <span>{{ node.name || '""' }}</span>
                            <span *ngIf="node.isArrayValue">]</span>
                        </span>
                        <span class="node-type"
                            >{{ node.type }}
                            <span *ngIf="node.type === 'array'">[{{ node.nodes?.length || 0 }}]</span>
                        </span>
                        <span *ngIf="node.value === null || node.value !== undefined">=</span>
                        <span class="node-value" *ngIf="node.type !== 'string'">{{ node.value }}</span>
                        <span class="node-value" *ngIf="node.type === 'string'">"{{ node.value }}"</span>
                    </div>
                    <div class="json-tree-node-children" [class.hidden]="!treeControl.isExpanded(node)">
                        <ng-container matTreeNodeOutlet></ng-container>
                    </div>
                </mat-nested-tree-node>
            </mat-tree>
        </mat-card-content>
    </mat-card>
</ng-container>
