<form [formGroup]="form" (submit)="handleSubmit()">
	<mat-card class="mb-6">
		<mat-card-header>
			<mat-card-title>Random String Generator</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<div>
				<mat-checkbox formControlName="includeLowercaseCharacters">Include lowercase characters</mat-checkbox>
			</div>

			<div>
				<mat-checkbox formControlName="includeUppercaseCharacters">Include uppercase characters</mat-checkbox>
			</div>

			<div>
				<mat-checkbox formControlName="includeNumbers">Include numbers</mat-checkbox>
			</div>

			<div>
				<mat-checkbox formControlName="includeSpecialCharacters">Include special characters</mat-checkbox>
			</div>
			<div>
				<mat-form-field *ngIf="form.get('includeSpecialCharacters')?.value">
					<input matInput formControlName="specialCharacters" [placeholder]="defaultSpecialCharacters" />
				</mat-form-field>
			</div>
			<div>
				<mat-form-field>
					<mat-label>Length</mat-label>
					<input matInput type="number" formControlName="length" />
				</mat-form-field>
			</div>
		</mat-card-content>
		<mat-card-actions class="flex justify-center gap-2 pb-5">
			<button mat-raised-button color="accent" type="button" (click)="handleReset()">Reset</button>
			<button mat-raised-button color="primary" type="submit">Generate</button>
		</mat-card-actions>
	</mat-card>
</form>

<mat-card *ngIf="result">
	<mat-card-header>
		<mat-card-title>Random string</mat-card-title>
	</mat-card-header>
	<mat-card-content>
		<pre class="select-all">{{ result.generatedString }}</pre>
	</mat-card-content>
</mat-card>
