<form [formGroup]="form" (submit)="handleSubmit()">
    <mat-card class="mb-6">
        <mat-card-content>
            <div class="flex flex-col gap-3">
                <div class="flex flex-col">
                    <mat-checkbox formControlName="includeLowercaseCharacters">Include lowercase characters
                    </mat-checkbox>
                    <mat-checkbox formControlName="includeUppercaseCharacters">Include uppercase characters
                    </mat-checkbox>
                    <mat-checkbox formControlName="includeNumbers">Include numbers</mat-checkbox>
                    <mat-checkbox formControlName="includeSpecialCharacters">Include special characters</mat-checkbox>
                </div>

                <mat-form-field *ngIf="form.get('includeSpecialCharacters')?.value">
                    <mat-label>Special characters</mat-label>
                    <input matInput formControlName="specialCharacters" [placeholder]="defaultSpecialCharacters" />
                    <mat-error>
                        <app-mat-errors [control]="form.get('specialCharacters')"></app-mat-errors>
                    </mat-error>
                </mat-form-field>

                <mat-form-field>
                    <mat-label>Length</mat-label>
                    <input matInput type="number" formControlName="length" />
                    <mat-error>
                        <app-mat-errors [control]="form.get('length')"></app-mat-errors>
                    </mat-error>
                </mat-form-field>
            </div>
        </mat-card-content>

        <mat-card-actions class="action-buttons">
            <button mat-raised-button color="accent" type="button" (click)="handleReset()">Reset</button>
            <button mat-raised-button color="primary" type="submit">Generate</button>
        </mat-card-actions>
    </mat-card>
</form>

<mat-card *ngIf="result">
    <mat-card-header>
        <mat-card-title>Random string</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <app-code>{{ result.generatedString }}</app-code>
    </mat-card-content>
</mat-card>
