<app-page-header title="{{ pageTitle }}"></app-page-header>

<form [formGroup]="form" (submit)="handleSubmit()">
	<app-form-section title="Source">
		<app-form-textarea
			label="{{ isEncodeMode ? 'Plain text value' : 'Base64 value' }}"
			formControlName="sourceValue"
		></app-form-textarea>
	</app-form-section>

	<app-form-section title="Base64 value" *ngIf="processedValue">
		<app-code>{{ processedValue }}</app-code>
	</app-form-section>

	<app-alert type="error" *ngIf="hasErrors">Failed to encode the source value</app-alert>

	<app-form-footer>
		<app-form-button type="button" color="secondary" (click)="handleReset()">Reset</app-form-button>
		<app-form-button type="submit" color="primary">{{ isEncodeMode ? 'Encode' : 'Decode' }}</app-form-button>
	</app-form-footer>
</form>
