<app-page-header title="{{ pageTitle }}"></app-page-header>

<form [formGroup]="form" (submit)="handleSubmit()">
	<mat-form-field appearance="fill">
		<mat-label>{{ isEncodeMode ? 'Plain text' : 'Base64 text' }}</mat-label>
		<textarea matInput formControlName="sourceValue" rows="8"></textarea>
	</mat-form-field>

	<section>
		<button mat-button type="button" (click)="handleReset()">Reset</button>
		<button mat-button type="submit" color="primary">{{ isEncodeMode ? 'Encode' : 'Decode' }}</button>
	</section>

	<app-form-section *ngIf="processedValue">
		<app-form-label>{{ isEncodeMode ? 'Base64 text' : 'Plain text' }}</app-form-label>
		<app-code>{{ processedValue }}</app-code>
	</app-form-section>

	<app-alert type="error" *ngIf="hasErrors">Failed to encode the source value</app-alert>
</form>
