<form [formGroup]="form" (submit)="handleSubmit()">
    <mat-card class="mb-3">
        <mat-card-content>
            <mat-form-field class="w-full">
                <mat-label>{{ isEncodeMode ? 'Plain text' : 'Base64 text' }}</mat-label>
                <textarea matInput formControlName="sourceValue" rows="5"></textarea>
                <mat-error>
                    <app-mat-errors [control]="form.get('sourceValue')!"></app-mat-errors>
                </mat-error>
            </mat-form-field>

            <app-alert *ngIf="hasErrors">Failed to encode the source value</app-alert>
        </mat-card-content>

        <mat-card-actions class="action-buttons">
            <button mat-raised-button type="button" color="accent" (click)="handleReset()">Reset</button>
            <button mat-raised-button type="submit" color="primary">{{ isEncodeMode ? 'Encode' : 'Decode' }}</button>
        </mat-card-actions>
    </mat-card>
</form>

<mat-card *ngIf="processedValue">
    <mat-card-header>
        <mat-card-title>{{ isEncodeMode ? 'Base64 text' : 'Plain text' }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <app-code>{{ processedValue }}</app-code>
    </mat-card-content>
</mat-card>
