<form [formGroup]="form" (submit)="handleSubmit()" class="mb-8">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Days between</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div class="flex gap-3">
                <mat-form-field appearance="fill">
                    <mat-label>Start date</mat-label>
                    <input matInput [matDatepicker]="fromDatepicker" formControlName="fromDate">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="fromDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #fromDatepicker>
                        <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel>Cancel</button>
                            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                        </mat-datepicker-actions>
                    </mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="fill">
                    <mat-label>End date</mat-label>
                    <input matInput [matDatepicker]="toDatepicker" formControlName="toDate">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="toDatepicker"></mat-datepicker-toggle>
                    <mat-datepicker #toDatepicker>
                        <mat-datepicker-actions>
                            <button mat-button matDatepickerCancel>Cancel</button>
                            <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
                        </mat-datepicker-actions>
                    </mat-datepicker>
                </mat-form-field>
            </div>
        </mat-card-content>

        <mat-card-actions class="action-buttons">
            <button mat-raised-button color="accent" type="button" (click)="handleReset()">Reset</button>
            <button mat-raised-button color="primary" type="submit">Calculate</button>
        </mat-card-actions>
    </mat-card>
</form>

<mat-card *ngIf="result">
    <mat-card-header>
        <mat-card-title>Result</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div class="space-y-3">
            <div>
                <mat-label>Days</mat-label>
                <app-code>{{ result.Days }}</app-code>
            </div>
            <div>
                <mat-label>Months</mat-label>
                <app-code>{{ result.Months }}</app-code>
            </div>
            <div>
                <mat-label>Years</mat-label>
                <app-code>{{ result.Years }}</app-code>
            </div>
        </div>
    </mat-card-content>
</mat-card>
