<app-page-header title="{{ pageTitle }}"></app-page-header>

<form [formGroup]="form" (submit)="handleSubmit()">
	<app-form-section title="Dates">
		<div class="mb-3">
			<app-form-label>From date</app-form-label>
			<div class="flex gap-1">
				<div class="flex-1">
					<app-form-textfield placeholder="Year" formControlName="fromYear"></app-form-textfield>
				</div>
				<div class="flex-1">
					<app-form-textfield placeholder="Month" formControlName="fromMonth"></app-form-textfield>
				</div>
				<div class="flex-1">
					<app-form-textfield placeholder="Day" formControlName="fromDay"></app-form-textfield>
				</div>
			</div>
		</div>
		<div>
			<app-form-label>To date</app-form-label>
			<div class="flex gap-1">
				<div class="flex-1">
					<app-form-textfield placeholder="Year" formControlName="toYear"></app-form-textfield>
				</div>
				<div class="flex-1">
					<app-form-textfield placeholder="Month" formControlName="toMonth"></app-form-textfield>
				</div>
				<div class="flex-1">
					<app-form-textfield placeholder="Day" formControlName="toDay"></app-form-textfield>
				</div>
			</div>
		</div>
	</app-form-section>

	<app-form-section title="Result" *ngIf="result">
		<div class="space-y-3">
			<div>
				<app-form-label>Days</app-form-label>
				<app-code>{{ result.Days }}</app-code>
			</div>
			<div>
				<app-form-label>Months</app-form-label>
				<app-code>{{ result.Months }}</app-code>
			</div>
			<div>
				<app-form-label>Years</app-form-label>
				<app-code>{{ result.Years }}</app-code>
			</div>
		</div>
	</app-form-section>

	<app-form-footer>
		<button type="button" class="btn-secondary" (click)="handleReset()">Reset</button>
		<button type="submit" class="btn-primary">Calculate</button>
	</app-form-footer>
</form>
