<app-page-header title="{{ pageTitle }}"></app-page-header>

<form [formGroup]="form" (submit)="handleSubmit()">
	<app-form-section>
		<div class="space-y-3">
			<div *ngIf="form.contains('key')">
				<app-form-textfield label="Key" formControlName="key"></app-form-textfield>
			</div>
			<div>
				<app-form-textfield label="Text" formControlName="inputText"></app-form-textfield>
			</div>
		</div>
	</app-form-section>

	<app-form-section>
		<ng-container *ngIf="hashedString && !error">
			<app-form-label>Hash</app-form-label>
			<app-code>{{ hashedString }}</app-code>
		</ng-container>

		<app-alert type="error" *ngIf="error">{{ error }}</app-alert>
	</app-form-section>

	<app-form-footer>
		<button type="reset" class="btn-secondary" (click)="handleReset()">Reset</button>
		<button type="submit" class="btn-primary">Generate</button>
	</app-form-footer>
</form>
