<form [formGroup]="form" (submit)="handleSubmit()">
    <mat-card class="mb-8">
        <mat-card-content>
            <div class="space-y-3">
                <div *ngIf="form.contains('key')">
                    <mat-form-field class="flex-1">
                        <mat-label>Key</mat-label>
                        <input matInput formControlName="key" />
                        <mat-error>
                            <app-mat-errors [control]="form.get('key')"></app-mat-errors>
                        </mat-error>
                    </mat-form-field>
                </div>

                <mat-form-field class="flex-1">
                    <mat-label>Text</mat-label>
                    <input matInput formControlName="inputText" />
                    <mat-error>
                        <app-mat-errors [control]="form.get('inputText')"></app-mat-errors>
                    </mat-error>
                </mat-form-field>
            </div>

            <app-alert *ngIf="error">{{ error }}</app-alert>
        </mat-card-content>

        <mat-card-actions class="action-buttons">
            <button mat-raised-button color="accent" type="reset" (click)="handleReset()">Reset</button>
            <button mat-raised-button color="primary" type="submit">Generate</button>
        </mat-card-actions>
    </mat-card>
</form>

<mat-card *ngIf="hashedString && !error">
    <mat-card-header>
        <mat-card-title>Hash</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <app-code>{{ hashedString }}</app-code>
    </mat-card-content>
</mat-card>
