.color-accent {
    color: var(--background-accent-500) !important;
}

.color-primary {
    color: var(--color-primary-500) !important;
}

.bg-primary {
    background: var(--background-primary-500) !important;
}
