.color-accent {
    color: var(--background-accent-500) !important;
}

.color-primary {
    color: var(--color-primary-500) !important;
}

.bg-primary {
    color: var(--color-primary) !important;
    background: var(--background-primary) !important;
}
