// ---------- font style ----------

.font-italic {
    font-style: italic !important;
}

// ---------- font weight ----------

.font-normal {
    font-weight: normal !important;
}

.font-bold {
    font-weight: bold !important;
}
