// ---------- text alignment ----------

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}

.text-right {
    text-align: right !important;
}

// ---------- text sizes ----------

.text-xs {
    font-size: 0.75rem !important;
    line-height: 1rem !important;
}

.text-sm {
    font-size: 0.875rem !important;
    line-height: 1.25rem !important;
}

.text-lg {
    font-size: 1.125rem !important;
    line-height: 1.75rem !important;
}

.text-xl {
    font-size: 1.25rem !important;
    line-height: 1.75rem !important;
}

.text-2xl {
    font-size: 1.5rem !important;
    line-height: 2rem !important;
}

.text-3xl {
    font-size: 1.875rem !important;
    line-height: 2.25rem !important;
}

.text-4xl {
    font-size: 2.25rem !important;
    line-height: 2.5rem !important;
}

.text-5xl {
    font-size: 3rem !important;
    line-height: 1 !important;
}

.text-6xl {
    font-size: 3.75rem !important;
    line-height: 1 !important;
}

.text-7xl {
    font-size: 4.5rem !important;
    line-height: 1 !important;
}

.text-8xl {
    font-size: 6rem !important;
    line-height: 1 !important;
}

.text-9xl {
    font-size: 8rem !important;
    line-height: 1 !important;
}
