<app-page-header title="Text Diff"></app-page-header>

<form [formGroup]="form" (submit)="handleSubmit()">
	<app-form-section>
		<div class="flex gap-2">
			<div class="mb-3 flex-1">
				<app-form-textarea label="Left text" formControlName="left"></app-form-textarea>
			</div>
			<div class="mb-3 flex-1">
				<app-form-textarea label="Right text" formControlName="right"></app-form-textarea>
			</div>
		</div>
		<div class="mb-3 flex gap-3">
			<label class="form-label"
				><input type="radio" formControlName="isSideBySideMode" [value]="true" /> Side by side</label
			>
			<label class="form-label"
				><input type="radio" formControlName="isSideBySideMode" [value]="false" /> Line by line</label
			>
		</div>
	</app-form-section>

	<app-form-footer>
		<button type="button" class="btn-secondary" (click)="handleReset()">Reset</button>
		<button type="submit" class="btn-primary">Compare</button>
	</app-form-footer>

	<div class="flex w-full" *ngIf="hasCompared">
		<!-- side by side -->
		<div *ngIf="isSideBySideMode" class="df-container">
			<div *ngFor="let row of filteredTableRows; trackBy: trackTableRows" class="text-line">
				<div class="text-column">
					<div class="line-number">
						{{ row.leftContent?.lineNumber !== -1 ? row.leftContent?.lineNumber : ' ' }}
					</div>
					<div class="line-changes">
						<span
							class="content-col"
							[ngClass]="{
								'delete-row': row.leftContent?.prefix === '-',
								'empty-row': !row.leftContent?.lineContent
							}"
							*ngIf="!row.hasDiffs"
						>
							<span [innerHTML]="row.leftContent?.lineContent | formatLine"></span>
						</span>
						<span
							class="content-col"
							[ngClass]="{
								'delete-row': row.leftContent?.prefix === '-',
								'empty-row': !row.leftContent?.lineContent
							}"
							*ngIf="row.hasDiffs"
						>
							<span
								[innerHTML]="diff.content | formatLine"
								[ngClass]="{ highlight: diff.isDiff }"
								*ngFor="let diff of row.leftContent?.lineDiffs; trackBy: trackDiffs"
							></span>
						</span>
					</div>
				</div>
				<div class="text-column">
					<div class="line-number">
						{{ row.rightContent?.lineNumber !== -1 ? row.rightContent?.lineNumber : ' ' }}
					</div>
					<div class="line-changes">
						<span
							class="content-col"
							[ngClass]="{
								'insert-row': row.rightContent?.prefix === '+',
								'empty-row': !row.rightContent?.lineContent
							}"
							*ngIf="!row.hasDiffs"
						>
							<span [innerHTML]="row.rightContent?.lineContent | formatLine"></span>
						</span>
						<span
							class="content-col"
							[ngClass]="{
								'insert-row': row.rightContent?.prefix === '+',
								'empty-row': !row.rightContent?.lineContent
							}"
							*ngIf="row.hasDiffs"
						>
							<span
								[innerHTML]="diff.content | formatLine"
								[ngClass]="{ highlight: diff.isDiff }"
								*ngFor="let diff of row.rightContent?.lineDiffs; trackBy: trackDiffs"
							></span>
						</span>
					</div>
				</div>
			</div>
		</div>

		<!-- line by line -->
		<div class="df-container" *ngIf="!isSideBySideMode">
			<table class="w-full">
				<tbody>
					<tr *ngFor="let row of filteredTableRowsLineByLine; trackBy: trackTableRows">
						<td class="line-number">{{ row.leftContent?.lineNumber }}</td>
						<td class="line-number">{{ row.rightContent?.lineNumber }}</td>
						<td
							[ngClass]="{
								'delete-row': row.leftContent?.prefix === '-',
								'insert-row': row.rightContent?.prefix === '+'
							}"
							*ngIf="!row.hasDiffs"
						>
							<span [innerHTML]="row.leftContent?.lineContent | formatLine"></span>
						</td>
						<td
							[ngClass]="{
								'delete-row': row.leftContent.prefix === '-',
								'insert-row': row.rightContent?.prefix === '+'
							}"
							*ngIf="row.hasDiffs && row.leftContent && row.leftContent?.lineDiffs?.length !== 0"
						>
							<span
								[innerHTML]="diff.content | formatLine"
								[ngClass]="{ highlight: diff.isDiff }"
								*ngFor="let diff of row.leftContent?.lineDiffs; trackBy: trackDiffs"
							></span>
						</td>
						<td
							[ngClass]="{
								'delete-row': row.leftContent?.prefix === '-',
								'insert-row': row.rightContent.prefix === '+'
							}"
							*ngIf="row.hasDiffs && row.rightContent && row.rightContent?.lineDiffs?.length !== 0"
						>
							<span
								[innerHTML]="diff.content | formatLine"
								[ngClass]="{ highlight: diff.isDiff }"
								*ngFor="let diff of row.rightContent?.lineDiffs; trackBy: trackDiffs"
							></span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</form>
