<form [formGroup]="form" (submit)="handleSubmit()">
    <mat-card>
        <mat-card-content>
            <div class="flex gap-3">
                <div class="mb-3 flex-1">
                    <mat-form-field class="w-full">
                        <mat-label>Left text</mat-label>
                        <textarea matInput formControlName="left" rows="5"></textarea>
                        <mat-error>
                            <app-mat-errors [control]="form.get('left')"></app-mat-errors>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="mb-3 flex-1">
                    <mat-form-field class="w-full">
                        <mat-label>Right text</mat-label>
                        <textarea matInput formControlName="right" rows="5"></textarea>
                        <mat-error>
                            <app-mat-errors [control]="form.get('right')"></app-mat-errors>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <mat-radio-group class="flex gap-6" formControlName="isSideBySideMode">
                <mat-radio-button [value]="true">Side by side</mat-radio-button>
                <mat-radio-button [value]="false">Line by line</mat-radio-button>
            </mat-radio-group>
        </mat-card-content>

        <mat-card-actions class="action-buttons">
            <button mat-raised-button color="accent" type="button" (click)="handleReset()">Reset</button>
            <button mat-raised-button color="primary" type="submit">Compare</button>
        </mat-card-actions>
    </mat-card>


    <div class="flex w-full" *ngIf="hasCompared">
        <!-- side by side -->
        <div *ngIf="isSideBySideMode" class="df-container">
            <div *ngFor="let row of filteredTableRows; trackBy: trackTableRows" class="text-line">
                <div class="text-column">
                    <div class="line-number">
                        {{ row.leftContent?.lineNumber !== -1 ? row.leftContent?.lineNumber : ' ' }}
                    </div>
                    <div class="line-changes">
						<span
                            class="content-col"
                            [ngClass]="{
								'delete-row': row.leftContent?.prefix === '-',
								'empty-row': !row.leftContent?.lineContent
							}"
                            *ngIf="!row.hasDiffs"
                        >
							<span [innerHTML]="row.leftContent?.lineContent | formatLine"></span>
						</span>
                        <span
                            class="content-col"
                            [ngClass]="{
								'delete-row': row.leftContent?.prefix === '-',
								'empty-row': !row.leftContent?.lineContent
							}"
                            *ngIf="row.hasDiffs"
                        >
							<span
                                [innerHTML]="diff.content | formatLine"
                                [ngClass]="{ highlight: diff.isDiff }"
                                *ngFor="let diff of row.leftContent?.lineDiffs; trackBy: trackDiffs"
                            ></span>
						</span>
                    </div>
                </div>
                <div class="text-column">
                    <div class="line-number">
                        {{ row.rightContent?.lineNumber !== -1 ? row.rightContent?.lineNumber : ' ' }}
                    </div>
                    <div class="line-changes">
						<span
                            class="content-col"
                            [ngClass]="{
								'insert-row': row.rightContent?.prefix === '+',
								'empty-row': !row.rightContent?.lineContent
							}"
                            *ngIf="!row.hasDiffs"
                        >
							<span [innerHTML]="row.rightContent?.lineContent | formatLine"></span>
						</span>
                        <span
                            class="content-col"
                            [ngClass]="{
								'insert-row': row.rightContent?.prefix === '+',
								'empty-row': !row.rightContent?.lineContent
							}"
                            *ngIf="row.hasDiffs"
                        >
							<span
                                [innerHTML]="diff.content | formatLine"
                                [ngClass]="{ highlight: diff.isDiff }"
                                *ngFor="let diff of row.rightContent?.lineDiffs; trackBy: trackDiffs"
                            ></span>
						</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- line by line -->
        <div class="df-container" *ngIf="!isSideBySideMode">
            <table class="w-full">
                <tbody>
                <tr *ngFor="let row of filteredTableRowsLineByLine; trackBy: trackTableRows">
                    <td class="line-number">{{ row.leftContent?.lineNumber }}</td>
                    <td class="line-number">{{ row.rightContent?.lineNumber }}</td>
                    <td
                        [ngClass]="{
								'delete-row': row.leftContent?.prefix === '-',
								'insert-row': row.rightContent?.prefix === '+'
							}"
                        *ngIf="!row.hasDiffs"
                    >
                        <span [innerHTML]="row.leftContent?.lineContent | formatLine"></span>
                    </td>
                    <td
                        [ngClass]="{
								'delete-row': row.leftContent.prefix === '-',
								'insert-row': row.rightContent?.prefix === '+'
							}"
                        *ngIf="row.hasDiffs && row.leftContent && row.leftContent?.lineDiffs?.length !== 0"
                    >
							<span
                                [innerHTML]="diff.content | formatLine"
                                [ngClass]="{ highlight: diff.isDiff }"
                                *ngFor="let diff of row.leftContent?.lineDiffs; trackBy: trackDiffs"
                            ></span>
                    </td>
                    <td
                        [ngClass]="{
								'delete-row': row.leftContent?.prefix === '-',
								'insert-row': row.rightContent.prefix === '+'
							}"
                        *ngIf="row.hasDiffs && row.rightContent && row.rightContent?.lineDiffs?.length !== 0"
                    >
							<span
                                [innerHTML]="diff.content | formatLine"
                                [ngClass]="{ highlight: diff.isDiff }"
                                *ngFor="let diff of row.rightContent?.lineDiffs; trackBy: trackDiffs"
                            ></span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</form>
