<app-page-header title="Text Diff"></app-page-header>

<form [formGroup]="form" (submit)="handleSubmit()">
	<app-form-section>
		<div class="flex gap-2">
			<div class="mb-3 flex-1">
				<app-form-textarea label="Left text" formControlName="left"></app-form-textarea>
			</div>
			<div class="mb-3 flex-1">
				<app-form-textarea label="Right text" formControlName="right"></app-form-textarea>
			</div>
		</div>
		<div class="mb-3 flex gap-3">
			<label class="form-label"
				><input type="radio" formControlName="isSideBySideMode" [value]="true" /> Side by side</label
			>
			<label class="form-label"
				><input type="radio" formControlName="isSideBySideMode" [value]="false" /> Line by line</label
			>
		</div>
	</app-form-section>

	<div class="flex w-full">
		<!-- Right : side-by-side -->
		<div class="td-table-container side-by-side" *ngIf="isSideBySideMode">
			<table class="td-table">
				<tbody>
					<tr *ngFor="let row of filteredTableRows; trackBy: trackTableRows">
						<td
							scope="row"
							class="fit-column line-number-col"
							[ngClass]="{
								'delete-row': row.leftContent?.prefix === '-',
								'empty-row': !row.leftContent?.lineContent
							}"
						>
							{{ row.leftContent?.lineNumber !== -1 ? row.leftContent?.lineNumber : ' ' }}
						</td>
						<td
							class="fit-column prefix-col"
							[ngClass]="{
								'delete-row': row.leftContent?.prefix === '-',
								'empty-row': !row.leftContent?.lineContent
							}"
						>
							<span>{{ row.leftContent?.prefix || ' ' }}</span>
						</td>
						<td
							class="content-col"
							[ngClass]="{
								'delete-row': row.leftContent?.prefix === '-',
								'empty-row': !row.leftContent?.lineContent
							}"
							*ngIf="!row.hasDiffs"
						>
							<span [innerHTML]="row.leftContent?.lineContent | formatLine"></span>
						</td>
						<td
							class="content-col"
							[ngClass]="{
								'delete-row': row.leftContent?.prefix === '-',
								'empty-row': !row.leftContent?.lineContent
							}"
							*ngIf="row.hasDiffs"
						>
							<span
								[innerHTML]="diff.content | formatLine"
								[ngClass]="{ highlight: diff.isDiff }"
								*ngFor="let diff of row.leftContent?.lineDiffs; trackBy: trackDiffs"
							></span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- Left : side-by-side -->
		<div class="td-table-container side-by-side" *ngIf="isSideBySideMode">
			<table class="td-table">
				<tbody>
					<tr *ngFor="let row of filteredTableRows; trackBy: trackTableRows">
						<td
							scope="row"
							class="fit-column line-number-col"
							[ngClass]="{
								'insert-row': row.rightContent?.prefix === '+',
								'empty-row': !row.rightContent?.lineContent
							}"
						>
							{{ row.rightContent?.lineNumber !== -1 ? row.rightContent?.lineNumber : ' ' }}
						</td>
						<td
							class="fit-column prefix-col"
							[ngClass]="{
								'insert-row': row.rightContent?.prefix === '+',
								'empty-row': !row.rightContent?.lineContent
							}"
						>
							<span>{{ row.rightContent?.prefix || ' ' }}</span>
						</td>
						<td
							class="content-col"
							[ngClass]="{
								'insert-row': row.rightContent?.prefix === '+',
								'empty-row': !row.rightContent?.lineContent
							}"
							*ngIf="!row.hasDiffs"
						>
							<span [innerHTML]="row.rightContent?.lineContent | formatLine"></span>
						</td>
						<td
							class="content-col"
							[ngClass]="{
								'insert-row': row.rightContent?.prefix === '+',
								'empty-row': !row.rightContent?.lineContent
							}"
							*ngIf="row.hasDiffs"
						>
							<span
								[innerHTML]="diff.content | formatLine"
								[ngClass]="{ highlight: diff.isDiff }"
								*ngFor="let diff of row.rightContent?.lineDiffs; trackBy: trackDiffs"
							></span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<!-- Line By Line - combined table -->
		<div class="td-table-container line-by-line" *ngIf="!isSideBySideMode">
			<table class="td-table">
				<tbody>
					<tr *ngFor="let row of filteredTableRowsLineByLine; trackBy: trackTableRows">
						<td scope="row" class="fit-column line-number-col-left">{{ row.leftContent?.lineNumber }}</td>
						<td scope="row" class="fit-column line-number-col">{{ row.rightContent?.lineNumber }}</td>
						<td
							class="fit-column prefix-col"
							[ngClass]="{
								'delete-row': row.leftContent?.prefix === '-',
								'insert-row': row.rightContent?.prefix === '+'
							}"
						>
							<span>{{ row.leftContent?.prefix || row.rightContent?.prefix || ' ' }}</span>
						</td>
						<td
							class="content-col"
							[ngClass]="{
								'delete-row': row.leftContent?.prefix === '-',
								'insert-row': row.rightContent?.prefix === '+'
							}"
							*ngIf="!row.hasDiffs"
						>
							<span [innerHTML]="row.leftContent?.lineContent | formatLine"></span>
						</td>
						<td
							class="content-col"
							[ngClass]="{
								'delete-row': row.leftContent.prefix === '-',
								'insert-row': row.rightContent?.prefix === '+'
							}"
							*ngIf="row.hasDiffs && row.leftContent && row.leftContent?.lineDiffs?.length !== 0"
						>
							<span
								[innerHTML]="diff.content | formatLine"
								[ngClass]="{ highlight: diff.isDiff }"
								*ngFor="let diff of row.leftContent?.lineDiffs; trackBy: trackDiffs"
							></span>
						</td>
						<td
							class="content-col"
							[ngClass]="{
								'delete-row': row.leftContent?.prefix === '-',
								'insert-row': row.rightContent.prefix === '+'
							}"
							*ngIf="row.hasDiffs && row.rightContent && row.rightContent?.lineDiffs?.length !== 0"
						>
							<span
								[innerHTML]="diff.content | formatLine"
								[ngClass]="{ highlight: diff.isDiff }"
								*ngFor="let diff of row.rightContent?.lineDiffs; trackBy: trackDiffs"
							></span>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	<app-form-footer>
		<button type="button" class="btn-secondary" (click)="handleReset()">Reset</button>
		<button type="submit" class="btn-primary">Compare</button>
	</app-form-footer>
</form>
