.mat-mdc-form-field,
.mat-mdc-slider {
    width: 100% !important;
}

.mat-mdc-checkbox .mdc-form-field {
    user-select: none;
}

.mat-mdc-form-field-hint,
.mat-mdc-form-field-error {
    font-size: 0.8em;
    font-style: italic;
}

.control-group {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    align-items: center;
}

.control-group > button,
.control-group > mat-label {
    margin-bottom: 14px;
}

.control-group > mat-label {
    text-align: right;
}
