.mat-mdc-dialog-surface .mat-mdc-dialog-title {
    padding-bottom: 2em;
}

.mat-mdc-dialog-actions.action-buttons {
    display: flex;
    gap: 0.5em;
    justify-content: center;
    padding-top: 2.25em;
    padding-bottom: 1.25em;
}
