<ng-container *ngIf="control?.dirty && control?.invalid">
	<span
		*ngIf="control?.hasError('required') || control?.hasError('requiredIf')"
		class="italic text-sm text-red-600 dark:text-red-400"
		>* Required</span
	>
	<span *ngIf="control?.hasError('pattern')" class="italic text-sm text-red-600 dark:text-red-400"
		>* Invalid format</span
	>
	<span *ngIf="control?.hasError('min')" class="italic text-sm text-red-600 dark:text-red-400"
		>* Value is too small</span
	>
	<span *ngIf="control?.hasError('max')" class="italic text-sm text-red-600 dark:text-red-400"
		>* Value is too large</span
	>
</ng-container>

<!-- <span class="pl-2 text-gray-400 text-xs">
	{{ control?.invalid ? 'invalid' : '' }}
	{{ control?.touched ? 'touched' : '' }}
	{{ control?.dirty ? 'dirty' : '' }}
</span> -->
