// cards
.mat-mdc-card-header {
    margin-bottom: 2em;
}

// tabs
.mat-mdc-tab-body {
    padding-top: 2em;
    padding-bottom: 2em;
}

// all controls should have full width by default
// width is controlled by the parent element
.mat-mdc-form-field,
.mat-mdc-slider {
    width: 100% !important;
}

// checkbox
.mat-mdc-checkbox .mdc-form-field {
    user-select: none;
}
