<app-page-header title="{{ pageTitle }}"></app-page-header>

<form [formGroup]="form" (submit)="handleSubmit()">
	<app-form-section>
		<div [ngClass]="{ 'mb-1': isEncodeMode }">
			<app-form-textfield
				formControlName="sourceValue"
				[label]="isEncodeMode ? 'Value to encode' : 'Value to decode'"
				placeholder="URL or query string"
			></app-form-textfield>
		</div>
		<div class="space-y-1">
			<app-form-checkbox *ngIf="isEncodeMode" formControlName="encodeAsQueryString"
				>Encode as query string</app-form-checkbox
			>
		</div>
	</app-form-section>

	<app-form-section *ngIf="result && !result.hasErrors">
		<app-form-label>{{ isEncodeMode ? 'Encoded value' : 'Decoded value' }}</app-form-label>
		<app-code [scrollable]="false">{{ result.processedValue }}</app-code>
	</app-form-section>

	<app-alert type="error" *ngIf="result && result?.hasErrors">Text processing failed</app-alert>

	<app-form-footer>
		<button type="button" class="btn-secondary" (click)="handleReset()">Reset</button>
		<button type="submit" class="btn-primary">{{ isEncodeMode ? 'Encode' : 'Decode' }}</button>
	</app-form-footer>
</form>
