.color-slot {
    width: 3rem;
    height: 2rem;
    cursor: pointer;
    border-radius: 0.3em;
    transition: width 0.1s, height 0.1s, transform 0.1s;
}

.color-slot.active,
.color-slot:hover {
    width: 3rem;
    height: 3rem;
}

.color-input-box {
    width: 6rem !important;
}

.w-snippet-description {
    min-width: 50px;
    margin-right: 1.5em;
    text-align: right;
}

.w-snippet-block {
    min-width: 220px;
    margin-right: 0.5em;
}
