<form [formGroup]="form" (submit)="handleSubmit()">
    <mat-card class="mb-8">
        <mat-card-header>
            <mat-card-title>QR Code Generator</mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <div class="mb-3">
                <mat-form-field class="w-full">
                    <mat-label>Text</mat-label>
                    <textarea matInput formControlName="text" rows="3"></textarea>
                </mat-form-field>
            </div>
            <div class="mr-6">
                <div class="flex gap-8 items-center">
                    <div class="color-input-box">
                        <mat-form-field class="flex-1" appearance="outline">
                            <mat-label>Size</mat-label>
                            <input matInput formControlName="size" type="number" min="0" max="999">
                        </mat-form-field>
                    </div>
                    <mat-slider min="100" max="999">
                        <input matSliderThumb formControlName="size" tabindex="-1">
                    </mat-slider>
                </div>
            </div>
        </mat-card-content>

        <mat-card-actions class="action-buttons">
            <button mat-raised-button color="accent" type="button" (click)="handleReset()">Reset</button>
            <button mat-raised-button color="primary" type="submit">Generate</button>
        </mat-card-actions>
    </mat-card>
</form>

<mat-card *ngIf="result">
    <mat-card-header>
        <mat-card-title>QR Code</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <div class="flex justify-center mt-16">
            <qr-code [size]="result.size" [value]="result.text" [canvas]="true"></qr-code>
        </div>
    </mat-card-content>
</mat-card>
