<app-page-header title="{{ pageTitle }}"></app-page-header>

<form [formGroup]="form">
	<app-form-section>
		<div class="mb-1">
			<app-code>{{ guid }}</app-code>
		</div>
		<div class="space-y-1">
			<app-form-checkbox formControlName="addDashes">Dashes</app-form-checkbox>
			<app-form-checkbox formControlName="addCurlyBraces">Curly braces</app-form-checkbox>
		</div>
	</app-form-section>

	<app-form-footer>
		<button type="button" class="btn-primary" (click)="handleGenerate()">Generate</button>
	</app-form-footer>
</form>
