<div class="flex flex-col justify-between min-h-screen">
	<main class="container min-w-container flex">
		<div class="flex-none w-80 overflow-y-auto max-h-screen px-3 pb-3">
			<app-navigation></app-navigation>
		</div>
		<div class="flex-1 flex-shrink-0 overflow-x-hidden overflow-y-auto p-3 mb-10">
			<router-outlet></router-outlet>
		</div>
	</main>
	<footer class="w-full text-sm text-gray-600 dark:text-gray-300 py-10 bg-gray-100 dark:bg-gray-900 select-none">
		<p class="flex justify-center items-center gap-1">
			Crafted with <span class="text-red-500"><app-svg-icon type="hearth"></app-svg-icon></span> by
			<a href="https://github.com/Gartenschlaeger/dev-tools">Kai Gartenschläger</a>
		</p>
	</footer>
</div>
