<mat-sidenav-container class="flex-auto" (backdropClick)="sidenav.close()" fullscreen>
	<mat-sidenav #sidenav disableClose class="app-sidenav">
		<app-navigation (itemClicked)="handleNavigationItemClick($event)"></app-navigation>
	</mat-sidenav>
	<mat-sidenav-content class="app-content">
		<mat-toolbar color="primary" class="gap-2 mat-elevation-z8">
			<button mat-icon-button (click)="sidenav.toggle()">
				<mat-icon>menu</mat-icon>
			</button>
			<a mat-button class="px-2 py-1 text-xl" [routerLink]="['/home']">DevTools</a>
		</mat-toolbar>

		<div class="page-container">
			<app-page-header></app-page-header>
			<router-outlet></router-outlet>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>

<!-- <div class="flex flex-col justify-between min-h-screen">

	<footer class="w-full text-sm text-gray-600 dark:text-gray-300 py-10 bg-gray-100 dark:bg-gray-900 select-none">
		<p class="flex justify-center items-center gap-1">
			Crafted with <span class="text-red-500"><app-svg-icon type="hearth"></app-svg-icon></span> by
			<a href="https://github.com/Gartenschlaeger/dev-tools">Kai Gartenschläger</a>
		</p>
	</footer>
</div> -->
