<mat-sidenav-container (backdropClick)="sidenav.close()" class="h-full">
    <mat-sidenav #sidenav autoFocus="true" disableClose class="app-sidenav"
                 (openedChange)="handleSidenavOpenedChanged($event)">
        <app-navigation #app_navigation (toggleSidenav)="sidenav.toggle()"></app-navigation>
    </mat-sidenav>
    <mat-sidenav-content class="flex flex-col">
        <app-toolbar (toggleToolbar)="sidenav.toggle()"></app-toolbar>
        <app-page-header></app-page-header>

        <div class="app-page-container">
            <router-outlet></router-outlet>
        </div>

        <app-footer></app-footer>
    </mat-sidenav-content>
</mat-sidenav-container>
