<app-form-label [for]="control.name" *ngIf="label"
	>{{ label }} <app-form-field-errors [control]="control.control"></app-form-field-errors
></app-form-label>

<input
	#input
	[type]="type"
	[attr.id]="control.name"
	[attr.placeholder]="placeholder"
	[value]="value"
	(keyup)="handleChange($event, 'keyup')"
	(change)="handleChange($event, 'other')"
	(blur)="handleBlur($event)"
	class="form-input w-full"
	autocomplete="off"
/>

<app-form-field-errors *ngIf="!label" [control]="control.control"></app-form-field-errors>
