<form [formGroup]="form">
    <div class="flex flex-col gap-1">
        <mat-form-field>
            <mat-label>Format</mat-label>
            <input matInput formControlName="exportFormat" (keyup)="handleFormat()">
            <button mat-icon-button matSuffix (click)="handleHelp()" matTooltip="Placeholders">
                <mat-icon>help_outline</mat-icon>
            </button>
        </mat-form-field>
        <app-code *ngIf="output" [autoSelect]="false">{{output}}</app-code>
    </div>
</form>
