<svg
	xmlns="http://www.w3.org/2000/svg"
	[ngClass]="{ 'w-4 h-4': size == 'sm', 'w-6 h-6': size == 'md', 'w-10 h-10': size == 'lg' }"
	[attr.viewBox]="data.SvgViewBoxSize"
	[attr.fill]="data.SvgFillMode"
	[attr.stroke]="data.SvgStroke"
	[attr.stroke-width]="data.SvgStrokeWidth"
>
	<path
		[attr.d]="data.PathData"
		[attr.stroke-linecap]="data.PathStrokeLineCap"
		[attr.stroke-linejoin]="data.PathStrokeLineJoin"
		[attr.fill-rule]="data.PathFillRule"
		[attr.clip-rule]="data.PathClipRule"
	/>
</svg>
