<app-page-header title="Color picker"></app-page-header>

<form [formGroup]="form">
	<app-form-section>
		<div class="flex gap-3 mb-5">
			<!-- RGB -->
			<div class="flex-1">
				<app-form-label>RGB</app-form-label>
				<div class="space-y-1">
					<div class="flex gap-3 items-center">
						<div class="w-24">
							<input
								type="number"
								min="0"
								max="255"
								value="form.value.valueRN"
								formControlName="valueRN"
								class="form-input w-full"
							/>
						</div>
						<div class="flex-auto">
							<input
								type="range"
								min="0"
								max="255"
								class="w-full"
								value="form.value.valueRR"
								formControlName="valueRR"
								tabindex="-1"
							/>
						</div>
					</div>
					<div class="flex gap-3 items-center">
						<div class="w-24">
							<input
								type="number"
								min="0"
								max="255"
								value="form.value.valueGN"
								formControlName="valueGN"
								class="form-input w-full"
							/>
						</div>
						<div class="flex-auto">
							<input
								type="range"
								min="0"
								max="255"
								class="w-full"
								value="form.value.valueGR"
								formControlName="valueGR"
								tabindex="-1"
							/>
						</div>
					</div>
					<div class="flex gap-3 items-center">
						<div class="w-24">
							<input
								type="number"
								min="0"
								max="255"
								value="form.value.valueBN"
								formControlName="valueBN"
								class="form-input w-full"
							/>
						</div>
						<div class="flex-auto">
							<input
								type="range"
								min="0"
								max="255"
								class="w-full"
								value="form.value.valueBR"
								formControlName="valueBR"
								tabindex="-1"
							/>
						</div>
					</div>
				</div>
			</div>
			<div class="flex-1">
				<!-- HSL -->
				<app-form-label>HSL</app-form-label>
				<div class="space-y-1">
					<div class="flex gap-3 items-center">
						<div class="w-24">
							<input
								type="number"
								min="0"
								max="360"
								value="form.value.valueHN"
								formControlName="valueHN"
								class="form-input w-full"
							/>
						</div>
						<div class="flex-auto">
							<input
								type="range"
								min="0"
								max="360"
								class="w-full"
								value="form.value.valueHR"
								formControlName="valueHR"
								tabindex="-1"
							/>
						</div>
					</div>
					<div class="flex gap-3 items-center">
						<div class="w-24">
							<input
								type="number"
								min="0"
								max="100"
								value="form.value.valueSN"
								formControlName="valueSN"
								class="form-input w-full"
							/>
						</div>
						<div class="flex-auto">
							<input
								type="range"
								min="0"
								max="100"
								class="w-full"
								value="form.value.valueSR"
								formControlName="valueSR"
								tabindex="-1"
							/>
						</div>
					</div>
					<div class="flex gap-3 items-center">
						<div class="w-24">
							<input
								type="number"
								min="0"
								max="100"
								value="form.value.valueLN"
								formControlName="valueLN"
								class="form-input w-full"
							/>
						</div>
						<div class="flex-auto">
							<input
								type="range"
								min="0"
								max="100"
								class="w-full"
								value="form.value.valueLR"
								formControlName="valueLR"
								tabindex="-1"
							/>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="flex flex-wrap gap-1">
			<ng-container *ngFor="let c of palette; let i = index">
				<div
					class="w-14 h-10 rounded cursor-pointer bg-gray-200 border-2"
					[ngClass]="{
						'border-black border-opacity-30': selectedPaletteColorIndex === i,
						'border-transparent': selectedPaletteColorIndex !== i
					}"
					[ngStyle]="{ 'background-color': c ? 'rgb(' + c.r + ',' + c.g + ',' + c.b + ')' : null }"
					(click)="handlePaletteColorClick(i)"
				></div>
			</ng-container>
			<button
				(click)="handleAddPalleteColor()"
				class="btn-misc w-14 h-10 cursor-pointer flex justify-center items-center"
			>
				<app-svg-icon type="plus"></app-svg-icon>
			</button>
		</div>
	</app-form-section>

	<app-form-section>
		<div class="space-y-3">
			<div>
				<app-form-label>HEX</app-form-label>
				<app-code>{{ hexValue }}</app-code>
			</div>
			<div>
				<app-form-label>RGB</app-form-label>
				<app-code>{{ rgbValue }}</app-code>
			</div>
			<div>
				<app-form-label>HSL</app-form-label>
				<app-code>{{ hslValue }}</app-code>
			</div>
		</div>
	</app-form-section>
</form>
