table.side-by-side,
table.line-by-line {
    width: 100%;
    border-spacing: 0;
}

td.line-number {
    width: 0;
    white-space: nowrap;
}

td.line-changes {
    width: 50%;
    white-space: pre-wrap;
    word-break: break-word;
}

td.spacer {
    min-width: 0.5em;
    background-color: transparent;
}

td {
    vertical-align: top;
    background-color: var(--background-control);
    padding: 3px;
}

td.empty {
    background-image: repeating-linear-gradient(
        -45deg,
        transparent,
        transparent 5px,
        #bbb 6px,
        #bbb 7px,
        transparent 8px
    );
}

.dark-theme {
    td {
        background-color: var(--background-control);
    }
}

.inserted {
    background-color: #afe0ff;
}

.deleted {
    background-color: #ffbcbc;
}

.highlighted {
    background-color: rgba(0, 0, 0, 0.1);
}
