<div class="mb-3">
    <label *ngIf="label" [for]="fieldName"
        >{{ label }} <form-field-errors [formField]="formField"></form-field-errors
    ></label>
    <input
        type="text"
        [id]="fieldName"
        [name]="fieldName"
        class="border-2 outline-none px-3 py-2 rounded w-full"
        [ngClass]="
            (formField?.dirty || formField?.touched) && formField?.invalid
                ? ['border-red-600', 'text-red-600']
                : ['border-gray-200', 'focus:border-gray-400', 'text-gray-600']
        "
        [value]="internalValue"
        [disabled]="isDisabled"
        (input)="inputHandler($event)"
        (blur)="touchedHandler($event)"
    />
</div>
