@use '@angular/material' as mat;

@include mat.core();

// define light theme
$_indigo_palette: mat.define-palette(mat.$indigo-palette);
$_pink_palette: mat.define-palette(mat.$pink-palette);
$_red_palette: mat.define-palette(mat.$red-palette);
$_blue_gray_palette: mat.define-palette(mat.$blue-gray-palette);
$_grey_palette: mat.define-palette(mat.$gray-palette);

$light-theme: mat.define-light-theme((
    color: (
        primary: $_indigo_palette,
        accent: $_pink-palette,
        warn: $_red_palette,
    )
));

.bg-primary {
    background: mat.get-color-from-palette($_indigo_palette, 500);
}

$dark-theme: mat.define-dark-theme((
    color: (
        primary: $_pink-palette,
        accent: $_grey_palette,
        warn: $_red_palette,
    )
));

@include mat.all-component-themes($light-theme);

.color-accent {
    color: mat.get-color-from-palette($_pink-palette, 500) !important;
}

.color-card {
    color: mat.get-color-from-palette($_indigo_palette, 500) !important;
}

.color-primary {
    color: #fff !important; // TODO: replace with theme color
}

.code-block {
    overflow-x: auto;
    background-color: whitesmoke;
}

.code-block > pre {
    padding: 16px;
    margin: 5px 0 0;
}

.dark-theme {
    @include mat.all-component-themes($dark-theme);

    .bg-primary {
        background: mat.get-color-from-palette($_pink-palette, 500) !important;
    }

    .color-accent {
        color: mat.get-color-from-palette($_grey_palette, 500) !important;
    }

    .color-card {
        color: #fff !important; // TODO: replace with theme color
    }

    .color-primary {
        color: #fff !important; // TODO: replace with theme color
    }

    .code-block {
        background-color: #4a4a4a !important; // TODO: replace with theme color
    }
}

// custom styles
@import 'styles/flexbox.scss';
@import 'styles/highlighjs.scss';
@import 'styles/material.scss';
@import 'styles/spacing.scss';
@import 'styles/text.scss';
@import 'styles/misc.scss';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.action-buttons {
    display: flex !important;
    gap: 0.5em !important;
    padding-bottom: 1.25em !important;
    justify-content: center !important;
}
