@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	/* containers */

	.min-w-container {
		min-width: 1024px;
	}

	/* buttons */

	.btn-primary {
		@apply px-3 py-2 h-10 rounded
		text-gray-100 bg-blue-600
		hover:bg-blue-700
		disabled:opacity-50 disabled:hover:bg-opacity-50 disabled:cursor-not-allowed
		dark:bg-blue-600 dark:hover:bg-blue-500 dark:text-gray-200;
	}

	.btn-secondary {
		@apply px-3 py-2 h-10 rounded
		text-gray-100 bg-gray-600
		hover:bg-gray-700
		disabled:opacity-50 disabled:hover:bg-opacity-50 disabled:cursor-not-allowed
		dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-gray-200;
	}

	.btn-sm.btn-primary,
	.btn-sm.btn-secondary {
		@apply px-2 py-1 h-8;
	}

	.btn-misc {
		@apply px-3 py-2 h-10 rounded
		text-gray-800 bg-gray-200
		hover:bg-gray-300
		disabled:opacity-50 disabled:hover:bg-opacity-50 disabled:cursor-not-allowed
		dark:bg-gray-600 dark:hover:bg-gray-500 dark:text-gray-200;
	}

	.btn-danger {
		@apply px-3 py-2 h-10 rounded
		text-gray-100 bg-red-600
		hover:bg-red-700
		disabled:opacity-50 disabled:hover:bg-opacity-50 disabled:cursor-not-allowed
		dark:bg-red-600 dark:hover:bg-red-500 dark:text-gray-200;
	}

	.btn-link {
		@apply text-blue-600 hover:text-blue-800
		dark:text-blue-400 dark:hover:text-blue-300;
	}

	/* page header */

	.page-header {
		@apply select-none;
	}

	.page-header h1 {
		@apply text-2xl
		dark:text-gray-100;
	}

	.page-header hr {
		@apply my-3 mb-5
		dark:border-gray-600;
	}

	/* forms */

	.form-section {
		@apply mb-5 w-full;
	}

	.form-section h1 {
		@apply mb-5 select-none text-2xl
		dark:text-gray-200;
	}

	.form-footer {
		@apply mt-8 w-full flex justify-end items-center gap-1;
	}

	/* labels */

	.form-label {
		@apply inline-block select-none
		text-gray-800
		dark:text-gray-300;
	}

	/* textfields */

	.form-input {
		@apply px-3 py-2 h-10 border rounded transition-colors
		border-gray-300 text-gray-500
		focus:border-blue-300 focus:ring-2 focus:ring-blue-200 focus:outline-none
		bg-white
		dark:text-gray-200 dark:bg-gray-900 dark:border-gray-600
		dark:focus:border-blue-500 dark:focus:ring-blue-600 dark:focus:ring-opacity-50;
	}

	/* checkbox */

	.form-checkbox .checkbox-wrapper {
		@apply flex flex-shrink-0 justify-center items-center w-5 h-5 mr-1 rounded
		bg-white border border-gray-300
		dark:bg-gray-900 dark:border-gray-500;
	}

	.form-checkbox input:checked + div {
		@apply border-blue-500;
	}

	.form-checkbox svg {
		@apply pointer-events-none
		text-blue-600
		dark:text-blue-500;
	}

	.form-checkbox input:checked + div svg {
		@apply block;
	}

	/* input range */

	.form-range {
		@apply appearance-none bg-transparent;
	}

	.range-track {
		@apply rounded h-2 border-none
		bg-gray-300
		dark:bg-gray-500;
	}

	.form-range::-moz-range-track {
		@apply range-track;
	}

	.form-range::-webkit-slider-runnable-track {
		@apply range-track;
	}

	.range-thumb {
		@apply appearance-none w-2 h-5 border-none rounded
		bg-blue-500
		dark:bg-blue-500;
	}

	.form-range::-moz-range-thumb {
		@apply range-thumb;
	}

	.form-range::-webkit-slider-thumb {
		@apply range-thumb;
		margin-top: -0.35em;
	}

	/* code blocks */

	.code-block {
		@apply rounded px-3 py-2 overflow-x-auto border-2
		bg-white border-gray-200 text-gray-400
		dark:bg-gray-900 dark:border-gray-600;
	}

	/* links */

	a {
		@apply text-blue-600 hover:text-blue-800
		dark:text-blue-400 dark:hover:text-blue-300;
	}

	/* navigation */

	.nav-link {
		@apply cursor-pointer select-none;
	}

	.nav-link a {
		@apply block px-3 py-2 truncate rounded transition-colors duration-75
		text-gray-600 bg-gray-200
		hover:bg-gray-300
		dark:text-gray-300 dark:bg-gray-700 dark:hover:bg-gray-600;
	}

	.nav-link a.active {
		@apply bg-gray-300
		dark:bg-gray-600;
	}

	/* tabs */

	.tab-control ul {
		@apply flex gap-1 select-none mb-5;
	}

	.tab-control ul li {
		@apply rounded px-3 py-2 cursor-pointer text-sm
		text-gray-800 bg-gray-200
		hover:bg-gray-300
		dark:bg-gray-700 dark:hover:bg-gray-600 dark:text-gray-300;
	}

	.tab-control ul li.active {
		@apply text-gray-100 bg-gray-500
		dark:bg-gray-600;
	}
}
