@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'styles/colors.scss';
@import 'styles/flexbox.scss';
@import 'styles/highlighjs.scss';
@import 'styles/material.scss';
@import 'styles/spacing.scss';
@import 'styles/text.scss';
@import 'styles/misc.scss';

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.action-buttons {
    display: flex !important;
    gap: 0.5em !important;
    padding-bottom: 1.25em !important;
    justify-content: center !important;
}
