@use '@angular/material' as mat;

@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import 'styles/helper.scss';

$my-palette: mat.define-palette(mat.$indigo-palette);

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.app-sidenav {
	min-width: 340px;
}

.app-toolbar {
	position: sticky;
	top: 0;
	z-index: 999;
	flex-shrink: 0;
}

.app-page-container {
	padding: 1.5em;
	flex: 1 0 auto;
}

.app-footer {
	color: #fff;
	background: mat.get-color-from-palette($my-palette, 500);
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.3em;
	flex-shrink: 0;
}
