@use '@angular/material' as mat;
@use 'helper';

$primary-palette: mat.define-palette(mat.$pink-palette);
$accent-palette: mat.define-palette(mat.$blue-gray-palette);
$warn-palette: mat.define-palette(mat.$deep-orange-palette);

$theme: mat.define-dark-theme((
    color: (
        primary: $primary-palette,
        accent: $accent-palette,
        warn: $warn-palette,
    )
));

:root .dark-theme {
    @include helper.css-colors($theme);
    --color-control: #fff;
    --background-control: #4a4a4a;
}

.dark-theme {
    @include mat.all-component-colors($theme);
}
