<app-page-header title="{{ pageTitle }}"></app-page-header>

<form [formGroup]="form" (submit)="submitHandler()">
	<app-form-section title="URL">
		<app-form-textfield formControlName="url" placeholder="URL"></app-form-textfield>
	</app-form-section>

	<app-form-section title="Details" *ngIf="result">
		<div class="mb-3">
			<span class="font-semibold inline-block mb-1 w-full">Host</span>
			<app-code>{{ result?.hostname }}</app-code>
		</div>
		<div class="mb-3" *ngIf="result.port">
			<span class="font-semibold inline-block mb-1 w-full">Port</span>
			<app-code>{{ result.port }}</app-code>
		</div>

		<div class="mb-3" *ngIf="result.path">
			<span class="font-semibold inline-block mb-1 w-full">Path</span>
			<app-code>{{ result.path }}</app-code>
		</div>

		<div class="mb-3" *ngIf="result.queryString">
			<span class="font-semibold inline-block mb-1 w-full">Query strings</span>
			<div class="flex gap-1 items-center">
				<div class="flex-1 overflow-hidden">
					<app-code>{{ result.queryString }}</app-code>
				</div>
				<div class="flex-none">
					<button
						class="w-8 h-8 p-1 flex justify-center items-center rounded-full bg-gray-200 hover:bg-gray-300"
						(click)="handleToogleSearchDetails()"
					>
						<ng-container *ngIf="showQueryDetails">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								class="h-4 w-4"
								viewBox="0 0 20 20"
								fill="currentColor"
							>
								<path
									fill-rule="evenodd"
									d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
									clip-rule="evenodd"
								/>
							</svg>
						</ng-container>
						<ng-container *ngIf="!showQueryDetails">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								class="h-4 w-4"
								fill="none"
								viewBox="0 0 24 24"
								stroke="currentColor"
								stroke-width="2"
							>
								<path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
							</svg>
						</ng-container>
					</button>
				</div>
			</div>
		</div>

		<div class="mb-3 ml-5 space-y-2" *ngIf="showQueryDetails">
			<div *ngFor="let q of result.queryStringValues">
				<span class="font-semibold inline-block mb-1 w-full">{{ q.name }}</span>
				<app-code>{{ q.value }}</app-code>
			</div>
		</div>

		<div class="mb-3" *ngIf="result?.fragment">
			<span class="font-semibold inline-block mb-1 w-full">Fragment</span>
			<app-code>{{ result?.fragment }}</app-code>
		</div>
	</app-form-section>

	<app-alert *ngIf="hasError" type="error">Failed to parse URL</app-alert>

	<app-form-footer>
		<app-form-button type="button" color="secondary" (click)="handleReset()">Reset</app-form-button>
		<app-form-button type="submit" color="primary">Analyze</app-form-button>
	</app-form-footer>
</form>
