<mat-nav-list>
	<ng-container *ngFor="let item of stickedItems">
		<mat-list-item *ngIf="item.isVisible" (click)="handleItemClick(item)">{{ item.title }}</mat-list-item>
	</ng-container>
</mat-nav-list>

<form [formGroup]="searchForm" class="mx-3">
	<mat-form-field class="w-full">
		<mat-label>Search</mat-label>
		<input matInput type="search" formControlName="query" />
		<button mat-button matSuffix mat-icon-button (click)="handleClearSearchField()">
			<mat-icon>close</mat-icon>
		</button>
	</mat-form-field>
</form>

<mat-nav-list>
	<ng-container *ngFor="let item of items">
		<mat-list-item *ngIf="item.isVisible" (click)="handleItemClick(item)">{{ item.title }}</mat-list-item>
	</ng-container>
</mat-nav-list>
