<div class="pt-3 select-none" (window:keyup)="handleGlobalKeyUp($event)">
    <div class="px-3">
        <mat-form-field class="w-full" appearance="outline">
            <mat-label>Search</mat-label>
            <input
                matInput
                #matSearchInput="matInput"
                type="text"
                [(ngModel)]="searchQuery"
                (ngModelChange)="handleSearchChange()"
                (keyup)="handleSearchKeyup($event)"
            />
            <button *ngIf="searchQuery" matSuffix mat-icon-button (click)="handleSearchClear()">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>
    </div>

    <mat-nav-list>
        <ng-container *ngFor="let item of pinedItems">
            <mat-list-item *ngIf="item.visible" (click)="handleItemClick(item)">
                <div class="flex items-center gap-1">
                    <mat-icon *ngIf="item.icon" class="mr-1">{{ item.icon }}</mat-icon>
                    <span>{{ item.title }}</span>
                </div>
            </mat-list-item>
        </ng-container>
        <ng-container *ngFor="let item of normalItems">
            <mat-list-item *ngIf="item.visible" (click)="handleItemClick(item)">
                <div class="flex items-center gap-1">
                    <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
                    <span>{{ item.title }}</span>
                </div>
            </mat-list-item>
        </ng-container>
    </mat-nav-list>
</div>
