<div class="pt-3 select-none">
	<div class="px-3">
		<mat-form-field class="w-full">
			<mat-label>Search</mat-label>
			<input
				matInput
				type="text"
				[(ngModel)]="searchQuery"
				(ngModelChange)="handleSearchChange()"
				(keyup)="handleSearchKeyup($event)"
				tabindex="-1"
			/>
			<button *ngIf="searchQuery" matSuffix mat-icon-button (click)="handleSearchClear()" tabindex="-1">
				<mat-icon>close</mat-icon>
			</button>
		</mat-form-field>
	</div>

	<mat-nav-list>
		<ng-container *ngFor="let item of itemsSticked">
			<mat-list-item *ngIf="item.isVisible" (click)="handleItemClick(item)">
				<mat-icon *ngIf="item.icon" class="mr-1">{{ item.icon }}</mat-icon>
				<span>{{ item.title }}</span>
			</mat-list-item>
		</ng-container>
		<ng-container *ngFor="let item of itemsNormal">
			<mat-list-item *ngIf="item.isVisible" (click)="handleItemClick(item)">
				<mat-icon *ngIf="item.icon" class="mr-1">{{ item.icon }}</mat-icon>
				<span>{{ item.title }}</span>
			</mat-list-item>
		</ng-container>
	</mat-nav-list>
</div>
